/* Estilo general para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal */
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Estilo para el título */
  h1 {
    color: #333;
    font-size: 2.5em;
  }
  
  /* Estilo para el botón de jugar */
  .button {
    display: inline-block;
    margin: 20px auto;
    padding: 15px 25px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para el router outlet */
  router-outlet {
    display: block;
    margin-top: 30px;
  }
  